@media (min-width: 400px) {
    .slider-for
    {
        width: 100% !important;
    }
    .slider-nav
    {
        width: 80% !important;
    }
    .slider-for .slick-slide
    {
        width: 80vw;
        background: black;
    }

}
@media (min-width: 528px) {
    .slider-nav .slick-slide {
        margin: 10px;
    }
}


@media (min-width: 768px) {
    .slider-for
    {
        width: 80% !important;
    }
    .slider-nav
    {
        width: 60% !important;
    }
    .slider-nav .slick-slide
    {
        margin: 10px;
    }
    .slider-nav .slick-slide {
        margin: 10px;
    }

}

@media (min-width: 992px) {
    .slider-for
    {
        width: 800px !important;
    }
    .slider-nav
    {
        width: 600px !important;
    }
    .slider-for .slick-slide
    {
        width: 80vw;
        background: black;
    }
}