@media (min-width: 400px) {
    .slider-for
    {
        width: 100% !important;
    }
    .slider-nav
    {
        width: 80% !important;
    }
    .slider-for .slick-slide
    {
        width: 80vw;
        height: 50vw;
        background: black;
    }
    .slider-for .cld-video-player {
        height: 50vw;
    }

}
@media (min-width: 528px) {
    .slider-nav .slick-slide {
        margin: 10px;
        height: 10vw;
    }
}


@media (min-width: 768px) {
    .slider-for
    {
        width: 80% !important;
    }
    .slider-nav
    {
        width: 60% !important;
    }
    .slider-nav .slick-slide
    {
        margin: 10px;
    }
    .slider-nav .slick-slide {
        margin: 10px;
        height: 8vw;
    }
    .slider-nav .video-js
    {
        height: 8vw;
    }

}

@media (min-width: 992px) {
    .slider-for
    {
        width: 50% !important;
    }
    .slider-nav
    {
        width: 40% !important;
    }
    .slider-for .slick-slide
    {
        width: 80vw;
        height: 30vw;
        background: black;
    }
    .slider-for .cld-video-player {
        height: 30vw;
    }
}
@media (min-width: 1200px) {
}
@media (min-width: 1600px)
{
}
